<head>
  <link rel="stylesheet" href="css/main.css.css" type="text/css" media="screen" title="no title" charset="utf-8">
  <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/darkly/bootstrap.min.css" rel="stylesheet">
</head>

<body id="contact">
  <div class="container">
    <div id="main">
      <p class='contactlink'><a href="/">Home</a></p>
      <h3>CONTACT ME</h3>
      <p><a href="http://www.kacyhulme.com">Kacy Hulme</a></p>
    </div>
  </div>
</body>