<head>
  <link rel="stylesheet" href="css/main.css.css" type="text/css" media="screen" title="no title" charset="utf-8">
</head>

<body id="contact">
  <div>
    <h3>CONTACT ME</h3>
    <p><a href="http://www.kacyhulme.com">Kacy Hulme</a></p>
  </div>
</body>