<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="css/main.css" type="text/css" media="screen" title="no title" charset="utf-8">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
 <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
 <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
  <title>Image Gallery</title>
</head>
<body>
  <h4>Graffiti Gallery</h4>
  <nav>
    <ul id="navbar">
      <li>About</li>
      <li>Contact</li>
    </ul>
  </nav>
  <div id="gallerywrapper">
    <div><a href="images/graffiti1.jpg"><img src="images/graffiti1.jpg" alt="Graffiti One"></a></div>
    <div><a href="images/graffiti3.jpg"><img src="images/graffiti3.jpg" alt="Graffiti Three"></a></div>
    <div><a href="images/graffiti_100.jpg"><img src="images/graffiti_100.jpg" alt="Graffiti One Hundred"></a></div>
    <div><a href="images/train.jpg"><img src="images/train.jpg" alt="Train"></a></div>
  </div>
  <script src="js/gallery.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
