@import 'variables';

#about {
  background: linear-gradient($about-primary-color, white);
}

#aboutmain {
  border: 2px solid $about-primary-color;
  border-radius: 10px;
  background-color: $about-third-color;
  color: black;
  height: 90%;
  padding: 5%;
  margin: 5% 30% 20% 30%;
}

.aboutlink {
  a:link {
    color: $contact-primary-color;
  }

  /* visited link */
  a:visited {
    color: $contact-secondary-color;
  }

  /* mouse over link */
  a:hover {
    color: $contact-third-color;
  }

  /* selected link */
  a:active {
    color: $contact-fourth-color;
  }
}