@import 'variables';

#contact {
  background: linear-gradient($contact-third-color, $contact-primary-color);
}

#contactmain {
  border: 2px solid $contact-fourth-color;
  border-radius: 10px;
  background-color: white;
  color: black;
  height: 90%;
  padding: 5%;
  margin: 2%;
}

.contactlink {
  a:link {
    color: $contact-primary-color;
  }

  /* visited link */
  a:visited {
    color: $contact-secondary-color;
  }

  /* mouse over link */
  a:hover {
    color: $contact-third-color;
  }

  /* selected link */
  a:active {
    color: $contact-fourth-color;
  }
}